{% extends "home.html" %}
{% block title %} Банки {% endblock title %}
{% block header %} Список Банков {% endblock header %}
{% load filter %}

{% block content %}
<form action="{% url 'bank:bank' %}" method="GET">
    {% csrf_token %}
    <input type="submit" class="btn btn-success" value="Общий баланс :{{balance.balance|floatformat:'-2'}} рублей">
</form>
<div class="col-md-12">
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th> </th>
                {% for company in companies %}
                    <th>{{ company.name }}</th>
                {% endfor %}
            </tr>
            {% for bank in banks %}
                <tr>
                    <td>{{bank.name}} </td>
                    {% for company in companies %}
                       <td>
                           {% for account in bank_accounts %}

                                {% if account.company_id == company.id and bank.id == account.bank_id%}
                                    {{account}}
                                {% endif %}

                            {% endfor %}
                       </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}