{% extends "home.html" %}
{% block title %} Добавить аккаунт банка {% endblock title %}
{% block header %} Добавление аккаунта {% endblock header %}


{% block content %}
<div class="row">
    <div class="col-md-4">
        <form class="form-group" method="post">{% csrf_token %}
            {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Сохранить">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'company:add_company' %}" role="button">Добавить фирму</a>
        <a class="btn btn-danger" href="{% url 'bank:bank' %}" role="button">Назад</a>
    </div>
</div>
{% endblock %}